{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<script>
$(document).ready(function() {
   $(".tab-pane").each(function() {
     if($(this).attr('data-id') == 1) {
        $(this).addClass('active');
     }
   })
   $("li").each(function() {
     if($(this).attr('data-id') == 1) {
        $(this).addClass('active');
     }
     else {
        $(this).removeClass('active');
     }  
   }) 
});
function al(num) {
    $(".tab-pane").each(function() {
     if($(this).attr('data-id') == num) {
        var dogval = $(this).attr('data-lec');
        $(this).addClass('active');
        $("input").each(function() {
          if ($(this).attr('data-h') == 1) {
            $("input[id=dog]").val(dogval);
            $("input[id=cat]").val("{{ course_id}}");
          }
        });
               
     }
     else {
        $(this).removeClass('active');
     }
   })
   $("li").each(function() {
     if($(this).attr('data-id') == num) {
        $(this).addClass('active');
     }
     else {
        $(this).removeClass('active');
     }  
   }) 
}
</script>
<div class="tabbable tabs-left">  
<div class="nav nav-tabs">
{% set id = 0 %}  
{% for lec in lectures %}
{% set id = id + 1 %}
<li class="" data-id="{{ id }}"><a href="#{{ id }}" onclick="al({{ id }});" data-toggle="tab">Lecture {{ id }}</a></li>  
{% endfor %} 
</div>  
<div class="tab-content">
{% set id = 0 %}  
{% for lec in lectures %}
{% set id = id + 1 %}  
<div class="tab-pane" data-id="{{ id }}" data-lec="{{ lec[3] }}">  
{% for each in lec[2] %}
        <div class="span3">  
          <div class="thumbnail">  
            <img src="{{each[0]}}" alt="static/img/art1.jpg">  
            <div class="caption">  
              <a href='http://localhost:5000/uploads/{{ each[0].split('/')[2] }}'><h5>{{ each[3] }}</h5> </a> 
              <p>Rating: {{ each[1] }}</p>  
              <center><p><a href="http://localhost:5000/upvote/{{ each[2] }}/{{ course_id }}" class="btn btn-success"><i class="icon-thumbs-up"></i></a> <a href="http://localhost:5000/downvote/{{ each[2] }}/{{ course_id }}" class="btn btn-warning"><i class="icon-thumbs-down"></i></a></p>  </center>
            </div>  
          </div> 
        </div>
{% endfor %}
</div>
{% endfor %}     
</div>
</div>
<br>
<center>
    <form action="upload" method=post enctype=multipart/form-data>
      Title: <input type=text name="title" id="title"> 
      <input type=file name=file>
      <input name="dog" id="dog" type=hidden value="{{ start_val }}" data-h=1>
      <input name="cat" id="cat" type=hidden value="{{ course_id }}" data-h=1>
      <input type=submit value=Upload>
    </form>
</center>
{% endblock %}