<!DOCTYPE HTML>
{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{%- endblock %}
{% block content %}
{% for category in categories %}
{% set l = categories[category] %}
<div class="well">
<div class="span2">
		<h4>{{ category }}</h4>
</div>
<div class="container">
<div class="span10">
{% for each in l %}
    <div class="span3">
    <div class="thumbnail">
    <div class="crop">
    <img src="{{random(random_pics[category])[5:]}}" alt="some_text">
    </div>
    <center><h4><a href="{{ each[1] }}">{{ each[0] }}</a></h4></center>
    </div>
    </div>
{% endfor %}
</div>
</div>
</div>
{% endfor %}

	
		Add a new class!
		<form action="{{ url_for('add_course') }}" method=post>
			Department: &nbsp <input type=text name= department>
			Course Number: &nbsp <input type=text name=number>
			Class Name: &nbsp <input type=text name=name>

			<input type=submit value=Submit>
		</form>
{% endblock %}
