<head>
	{% block head %}
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<script>
$(document).ready(function(){
    animateDiv();
    //animateDiv2();
    
});

var arr = [4500, 150, 150, 150, 150, 450, 50, 150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50, 50, 50, 50, 50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50, 50, 500, 150, 150, 150, 150, 450, 50, 150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50,150, 150, 150, 150, 450, 50, 50, 50, 50, 50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50,50, 50, 50, 500]

function animateDiv(){
	//alert('hello');
      $('.a').css('display', 'none');
      $('.b').css('display', 'block');
      setTimeout(animateDiv2,arr.shift());


    
};

function animateDiv2(){
	//alert('yup');
	      $('.b').css('display', 'none');
      $('.a').css('display', 'block');
      setTimeout(animateDiv,100);
    
    
};
</script>

<style media="screen" type="text/css">

div.a {
width: 200px;
height:200px;
 background-color:red;
}
div.b {
width: 200px;
height:200px;
 background-color:red;
}
</style>
<br>
<br>
<br>
<br>
<br>
<embed height="0" width="0" src="static/img/kanye.mp3">
<center>
<div class='a' style='display: none'>
<img id='one' src='static/img/kanye.jpg'>
</div>
<div class='b' style='display: none'>
<img src='static/img/kanye2.jpg'>
</div>
</center>