<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block head %}
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<div class='navbar navbar-inverse'>
		<div class='navbar-inner'>
			<div class='container-fluid'>
				<a class='brand' href='http://localhost:5000'>YStudy!</a>
				<form class="navbar-search pull-right">
					<input type="text" class="span2" placeholder="Username">
					<input type="text" class="span2" placeholder="Password">
					<input type="submit" value="Login" class="btn"/>
				</form>
			</div>
		</div>
	</div>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>